.profile-container {
    margin-top: 70px;
    /* Prevent overlapping with fixed navbar */
}

.profile-section {
    background-color: #343a40;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.section-title {
    color: #ffc107;
    margin-bottom: 20px;
    text-align: center;
}

.modal-content {
    background-color: #212529;
    color: #fff;
}

.modal-header,
.modal-footer {
    border-color: #444;
}

button.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

button.btn-warning:hover {
    background-color: #e0a800;
    border-color: #e0a800;
}

button.btn-close {
    color: #fff;
}

button.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

button.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}